Instrumental_lib == 0.7
PyQt5_sip
pyqt5
pyvisa == 1.13.0
pyvisa-py == 0.6.3
PyYAML == 5.4.1
ftd2xx == 1.3.1
matplotlib == 3.7.1
nidaqmx == 0.6.5
numpy == 1.22
qasync == 0.22.0
scikit-image
scikit-learn
scipy
nicelib == 0.7.1
bloscpack == 0.16.0